.header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.header .logo {
    max-height: 65px;
}

.header .title-group{
    padding-left: 15px;
    padding-right: 15px;
}

.title-group{
    position: relative;
    left: 70%;
}