/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: rgb(212, 60, 75);
}

.v-middle{
    vertical-align: middle;
}

.msg-success {
    background-color: rgba(29, 167, 52, 0.658);
    color: #ffffff;
}

.msg-error {
    background-color: rgb(212, 60, 75);
    color: #ffffff;
}